/* ============================= */
/*  GLOBAL UNDERTALE THEME       */
/* ============================= */

/* All windows, dialogs, popovers */
window,
window.background,
dialog,
popover {
  background-color: black;
  color: white;
  font-family: "Determination Mono", "Courier New", monospace;
  font-size: 32px;
  border: 3px solid white;
  border-radius: 0px;
  padding: 3px;
  margin:3px;
  
  /* tweak this to taste */
}


/* All children inherit text color + font */
window * {
  color: inherit;
  font-family: inherit;
  border-color: white;
  border-width: 3px;
  border-radius: 0px;
  border-image: none;
}

/* ============================= */
/*          HEADERBARS           */
/* ============================= */

window.csd headerbar {
  color: white;
  background-color: black;
  border-color: white;
  border-width: 3px;
  background-image: none;
  font-family: 'Determination Mono', Courier, monospace;
  font-size: 32px;
  margin: 4px;
}

/* ============================= */
/*  ENTRY FIELDS (TEXT INPUTS)   */
/* ============================= */

entry {
  background-color: black;
  color: white;
  /* typed text */
  border: 2px solid white;
  padding: 4px 6px;
  caret-color: white;
  border-radius: 0;
  /* text cursor */
}

/* Inner text node inside Gtk::Entry (GTK4) */
entry text {
  color: inherit;
}

/* ============================= */
/*       UNDERTALE DIALOGS       */
/* ============================= */

/* The dialog itself (we let content box show visuals) */
#ut-box {
  background-color: transparent;
  color: white;
}

/* Dialog content area: the white-bordered HUD box */
#ut-box>box {
  background-color: black;
  border: 2px solid white;
  padding: 12px;
  border-radius: 0;
  /* pixel-y edges */
}

/* Labels inside Undertale dialogs */
#ut-box label {
  color: white;
  font-size: 24px;
}

/* ============================= */
/*  GLOBAL UNDERTALE BUTTONS     */
/* ============================= */

button {
  all: unset;
  /* wipe theme styling */
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 6px 16px;
  min-width: 80px;
  min-height: 32px;
  font-family: "Determination Mono", "Courier New", monospace;
  font-size: 24px;
  border-radius: 0;
  /* no rounded corners */
  text-align: center;
}

/* The label inside the button */
button label {
  color: inherit;
  font: inherit;
}

/* Hover / active states */
button:hover {
  background-color: #222;
}

button:active {
  background-color: #444; 
}

/* ============================= */
/*       MAIN MENU BUTTONS       */
/* ============================= */
.Text-Button{
  background-image: url("assets/sprites/TextFileButton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;

}

.Text-Button:hover{
  background-image: url("assets/sprites/TextFileButtonHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;
  

}

.Bar-Button{
  background-image: url("assets/sprites/BarChartButton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;

}


.Bar-Button:hover{
  background-image: url("assets/sprites/BarChartButtonHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;
  

}

.Pie-Button{
  background-image: url("assets/sprites/PieChartButton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;

}


.Pie-Button:hover{
  background-image: url("assets/sprites/PieChartButtonHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;
  

}

.Sort-Button{
  background-image: url("assets/sprites/SortByButton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;

}


.Sort-Button:hover{
  background-image: url("assets/sprites/SortByButtonHover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0px;
  padding: 0;
  

}

.Test-Button{
  background-image: url("assets/sprites");
  background-color: black;
  border: 2px solid #E58541;
  color: #E58541;
  padding: inherit;

}

/* .Test-Button image{
  margin-right:5px;
  
  
} */

.Test-Button label{
  color: #E58541;
}

.Test-Button:hover{
  background-image: none;
  background-color: black;
  border: 2px solid #FCFE58;
  font-size: 32px;
  color: #FCFE58;
  padding: inherit;
  

}

.Test-Button:hover label{
  color: #FCFE58;
}

/* ============================= */
/*  ENTRY FIELDS (TEXT INPUTS)   */
/* ============================= */

entry {
  background-color: black;
  border: 3px solid white;
  padding: 6px;
}

/* Ensure child background stays black */
#ut-message-box>* {
  background-color: black;
}

/* Text inside the bottom battle/message box */
#ut-message-text,
label.ut-message-text {
  color: white;
  font-size: 32px;
}

.Battle-Text {
  color: white; 
  font-size: 32px;
}

.Battle-Frame {
  background-color: black;
  border: 6px solid white;
  padding: 6px;
  border-radius: 0px;
}

/* ============================= */
/*  TEXT AREAS (Gtk::TextView)   */
/* ============================= */

textview {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 6px;
}

textview text {
  color: inherit;
}

/* Optional: scrollbars */
scrollbar {
  background-color: black;
}

scrollbar slider {
  background-color: white;
}

/* ============================= */
/*         FILE CHOOSER          */
/* ============================= */
window.filechooser{
  background-color: Black;
  background-image: none;
  color: white;
}
window.filechooser .view{
  background-color: Black;
  background-image: none;
  color: white;
} 
window.filechooser .view row:selected {
   background-color: yellow;
   color: Black;
}

window.filechooser .sidebar {
  background-color: black;
  background-image: none;
}

filechooser .sidebar row:selected,
filechooser .sidebar .sidebar-row:selected,
filechooser .sidebar .sidebar-row:hover{
  background-color: yellow;
  background-image: none;
  color: Black;
}

/* ============================= */
/*        PROFILE BUTTON         */
/* ============================= */
.profile-Button{
  border-radius: 99px;
  padding: 0px;
  min-height: 16px;
  min-width: 16px;
  background-color: black;
  outline: none;
  border: 2px solid white;

}

.profile-Button:hover{
  border-radius: 99px;
  border: 2px solid yellow;
}

.profile-Button:active{
  border-radius: 99px;
  border: 2px solid yellow;

} 

.avatar{
  border-radius: 99px;
  min-height: 16px;
  min-width: 16px;
  border: 2px solid black;
  background-image: none;
  
}
